.readmore_button_orange {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;

    background-color: #666;;
    color: #fff;
}

.readmore_button_green {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;

    background-color: #008811;
    color: #fff;

    border-radius: 100vh;
}

.readmore_button_orange::before,
.readmore_button_orange::after,
.readmore_button_green::before,
.readmore_button_green::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.readmore_button_orange,
.readmore_button_orange::before,
.readmore_button_orange::after,
.readmore_button_green,
.readmore_button_green::before,
.readmore_button_green::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.readmore_button_orange:hover {
    background-color: #59b1eb;
}

.readmore_button_green:hover {
    background-color: #59b1eb;
}