/* 「詳しく見る」ボタン */
.readmore_button {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;

    background-color: #666;;
    color: #fff;
}

.readmore_button::before,
.readmore_button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.readmore_button,
.readmore_button::before,
.readmore_button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.readmore_button:hover {
    background-color: #59b1eb;
}

/* 「さらに見る」ボタン */
.readmore_round_button {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    outline: none;

    background-color: #666;
    color: #fff;

    border-radius: 100vh;
}

.readmore_round_button::before,
.readmore_round_button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.readmore_round_button,
.readmore_round_button::before,
.readmore_round_button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.readmore_round_button:hover {
  background-color: #59b1eb;
}

/* 角丸枠付きボタン */
.rounded-corner-frame-button {
  border: solid 1px;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.rounded-corner-frame-button:hover {
  
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
