/* 「詳しく見る」ボタン */
.readmore_button {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;

    background-color: #666;;
    color: #fff;
}

.readmore_button::before,
.readmore_button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.readmore_button,
.readmore_button::before,
.readmore_button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.readmore_button:hover {
    background-color: #59b1eb;
}

/* 「さらに見る」ボタン */
.readmore_round_button {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    outline: none;

    background-color: #666;;
    color: #fff;

    border-radius: 100vh;
}

.readmore_round_button::before,
.readmore_round_button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.readmore_round_button,
.readmore_round_button::before,
.readmore_round_button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.readmore_round_button:hover {
    background-color: #59b1eb;
}

/* フッターのボタン */
.footer-right-button {
  width:	32px;
  height: 45px;
  overflow: hidden;
  position:	relative;

  padding: 0px;

  line-height: 45px;
  color:	#FFFFFF;
  font-size: 16px;

  -webkit-transition:	all 0.3s ease;
    transition:	all 0.3s ease;

  margin: 0px 5px 0px 5px;
}
.footer-right-button:hover {
  width:	180px;
  background-color:	rgb(0, 162, 232);

  -webkit-transition:	all 0.3s ease;
    transition:	all 0.3s ease;
}
.footer-right-button .mask {
  height:	100%;
  position:	absolute;
  top:	0;
  left:	0;
  margin-left:	100%;	/* 枠の左に置いて表示させない */
  background-color:	rgba(0,162,232,0.4);
  -webkit-transition:	all 0.3s ease;
  transition:	all 0.3s ease;
}
.footer-right-button:hover .mask {
  margin-left: 40px;	/* 右にずらして表示する */
}
.footer-right-button img {
  -webkit-transition:	all 0.3s ease;
  transition:	all 0.3s ease;

  position: absolute;
  top: 6px;
}
