.column.is-half {
    width: 50%;
}

.form-element {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-element input {
    width: 50%;
    min-width: 300px;
}

.form-element textarea {
    width: 100%;
    min-width: 300px;
    height: 100px;
}

.form-element label {
    display: flex;
}
  