.faq {
    margin: 10px 0px 50px 0px;
}

.faq-q {
    display: flex;
    line-height: 36px;
}

.faq-qq {
    font-size: 36px;
    color: #cc0000;
    margin-right: 5px;
}

.faq-a {
    display: flex;
    line-height: 26px;
    margin: 10px 0px 10px 5px;
}

.faq-aa {
    font-size: 26px;
    color: #0088dd;
    margin-right: 10px;
}
