/* インライン要素の見出し */
.inline-heading-wrap {
    height: 60px;
}

.inline-heading-en {
    float: left;
    max-width: 500px;
    height: 40px;
    margin: 10px 10px 10px 0px;

    font-size: 36px;
    line-height: 40px;
    font-family: 'Spartan', sans-serif;
}

.inline-heading-jp {
    float: left;
    height: 40px;
    margin: 10px 10px 10px 0px;

    border-left: 1px solid gray;
    padding-left: 10px;
    
    font-size: 18px;
    color: #666666;
    line-height: 40px;
}

