.top-table td {
    padding-right: 30px;
}

.normal-table td {
    padding: 0px;
}

.menu-table td {
    padding-bottom: 30px;
}

.profile-table td {
    padding: 30px;
}

.normal-body {
    background-color: #F0F0FF;
    background-image: url(/img/af/2022/background.png);
}

.normal-body .normal_bg {
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 100%;
}

#content {
    text-align: left;
    max-width: 80%;
}

#article_title {
    font-size: 26px;
    margin-bottom: 30px;
}