/* 全体に対して */
* {
  margin: 0px;
  padding: 0px;
}

html, body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

  width: 100%;
  margin-left: 0;
  margin-right: 0;

  height: 100%;
  margin: 0;
}

#wrap {
  overflow: hidden;
}

a.anchor{
  display: block;
  padding-top: 100px;
  margin-top: -100px;
}

/* ヘッダ */
header {
  box-sizing: border-box;
  height: 100px;
  padding: 15px 30px;
  background-color: #313131;
  color: white;
  width: 100%;
  position: fixed;
}

#header_wrap {
  width: 1300px;
  max-width: 100%;
  margin: 0px auto;
  overflow: hidden;
}

#header_logo {
  height: 32px;
  float: left;
  line-height: 32px;
  font-size: 22px;
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

#header_menu_line {
  width: 100%;
  float: left;
  margin-top: 8px;

  font-size: 14px;
  line-height: 45px;
  text-decoration: none;
}

#header_menu_left {
  float: left;
  display: flex;
}

#header_menu_right {
  float: right;
  display: flex;
}

/* メニューボタン */
.menu_button {
  height: 45px;

  background-color: #313131;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  text-align: center;

  position:relative;

  color: #ffffff;
}

.menu_button_font {
  margin: 0px 10px 0px 10px;
}

.menu_button .link{
  display: block;
  width: 100%;
  height: 100%;
}

.menu_button:hover {
  background-color: #dadada;
}

/* パンくずリスト */
#navibar_wrap {
  width: 100%;
  height: 20px;
  background-color: #3498db;
}

#navibar {
  width: 1310px;
  max-width: 100%;
  padding-left: 10px;
  margin: 0px auto;

  color: #ffffff;
  font-size: 14px;
}

#navibar a {
  color: #6b778d;
  font-size: 14px;
  text-decoration: none;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  line-height: 20px;
}

#navibar a:hover {
  color: #ffffff;
}

.breadcrumbs li::after{
  content: '>';
  display: inline-block;
  padding: 0 10px;
}

.breadcrumbs li:last-child::after{
  display: none;
}

/* メインとなるコンテンツ */
#main_wrap {
  width: 1320px;
  max-width: 100%;
  min-height: 100%;
  margin: 0px auto;
  display: -webkit-flex;
  display: flex;
}

#sidebar {
  width: 200px;
  margin-left: 10px;
  position: relative;
}

#sticked {
  width: 100%;
  /*border: dashed 1px #999;*/
}

#sidebar_pagetitle {
  width: 100%;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #313131;
  margin-bottom: 5px;
}

#sidebar_menu {
  width: 100%;
  height: 20px;
  font-size: 14px;
}

#sidebar_menu li {
  margin-top: 5px;
  list-style: none;
}

#sidebar_menu li a {
  color: #313131;
  text-decoration: none;
  margin-top: 100px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#sidebar_menu a:hover {
  color: #5bd1d7;
}

#content {
  display: block;
  width: 1086px;
  max-width: 100%;
  margin: 10px 0px 10px 10px;
}

#content_h {
  background: #16a085;
  padding: 0.5em;
  color: #ffffff;
  margin-right: 10px;
}

#content a {
  color: #3498db;
  text-decoration: none;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#content a:hover {
  color: #5bd1d7;
}

/* フッター */
.footer_class,
.push {
  width: 100%;
  height: 80px;
  background-color: #313131;
  color: white;
  text-align: center;
  margin-top: auto;

  bottom: 0;
}

#footer_wrap {
  width: 1300px;
  max-width: 100%;
  margin: 0px auto;
  overflow: hidden;
  display: flex;
}

#footer_copyright {
  width: 300px;
  height: 80px;
  float: left;
  font-size: 14px;
  line-height: 80px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
